/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
#artemis-tree-view.pf-v5-c-tree-view {
  --pf-v5-c-tree-view__node--indent--base: 1.5rem;
  --pf-v5-c-tree-view__node--nested-indent--base: 1rem;
  --pf-v5-c-tree-view--m-guides__node--before--Width: 1.5rem;
  --pf-v5-c-tree-view--m-guides__node--before--Height: 1px;
  --pf-v5-c-tree-view--m-guides__node--before--Top: 0.75rem;
  --pf-v5-c-tree-view--m-guides__node--before--BackgroundColor: #aaa;
  --pf-v5-c-tree-view--m-guides__list-item--before--Width: 1px;
  --pf-v5-c-tree-view--m-guides__list-item--before--Height: 100%;
  --pf-v5-c-tree-view--m-guides__list-item--before--BackgroundColor: #aaa;
  --pf-v5-c-tree-view--m-guides__list-item--last-child--before--Height: 0.75rem;
  --pf-v5-c-tree-view--m-guides__list-node--guide-width--base: 0.5rem;
  --pf-v5-c-tree-view--m-guides--guide-left--base--offset: 1.5rem;
  --pf-v5-global--LineHeight--md: normal;
}
#artemis-tree-view.pf-v5-c-tree-view .pf-m-selectable {
  --pf-v5-c-tree-view--m-guides__node--before--Width: 0.5rem;
}
#artemis-tree-view .pf-v5-c-tree-view__list {
  height: 100%;
}

#artemis-tree-view > .pf-v5-c-tree-view__list {
  max-height: 83vh;
  overflow: auto;
}

#artemis-tree-view .pf-v5-c-tree-view__node {
  padding-top: 0;
  padding-bottom: 0;
  align-items: center;
}

#artemis-tree-view .pf-v5-c-tree-view__node-toggle {
  padding: 0;
}

#artemis-tree-view .pf-v5-c-tree-view__node-text {
  padding: 0 4px;
  font-size: smaller;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#artemis-tree-view .pf-v5-c-tree-view__node-icon {
  padding: 0 4px;
  flex-shrink: 0;
}
