/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
#artemis-tree-view .pf-v5-c-tree-view__list {
  height: 100%;
}

#artemis-tree-view > .pf-v5-c-tree-view__list {
  max-height: 83vh;
  overflow: auto;
}

#artemis-tree-view .pf-v5-c-tree-view__node {
  padding-top: 1px;
  padding-bottom: 1px;
}

#artemis-tree-view .pf-v5-c-tree-view__node-toggle {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 6px;
}

#artemis-tree-view .pf-v5-c-tree-view__node-text {
  padding-top: 2px;
  font-size: smaller;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#artemis-tree-view .pf-v5-c-tree-view__node-icon {
  flex-shrink: 0;
}
